[submodule "src/tal_kv/FlashDB"]
	path = src/tal_kv/FlashDB
	url = https://github.com/armink/FlashDB.git
[submodule "src/tal_kv/littlefs"]
	path = src/tal_kv/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/libcjson/cJSON"]
	path = src/libcjson/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "src/common/backoffAlgorithm"]
	path = src/common/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "third_party/tflite-micro"]
	path = third_party/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "CMSIS-NN"]
	path = CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN
[submodule "CMSIS-5"]
	path = CMSIS-5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
